$primary-bg: rgb(19, 19, 19);
$secondary-bg: rgb(31, 31, 31);
$tertiary-bg: #353535;

$primary-font : whitesmoke;
$secondary-font: rgb(190, 190, 190);

$primary-special : rgb(132, 0, 255);
$secondary-special : rgb(97, 0, 189);

