@use "./modules/_design" as design;

.container{
    padding: 1em;
    display: flex;
    align-items: center;
    gap: .5em;

    &:hover{
        background-color: design.$tertiary-bg;
    }
}
.icon{
    font-size: 1em;
    color: design.$primary-font;
}
.text{
    width: max-content;
    font-size: 1em;
    color: design.$primary-font;
}