.collection{
    padding: .7em;

    display: flex;
    gap: 1em;

    border-radius: .3em;
    &:hover{
        background-color: #292929;
    }
}
.title{
    font-size: 1em;
    font-weight: normal;
    color: whitesmoke;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.icon{
    color: whitesmoke;
}