@use "./modules/_design" as design;

.collection {
	padding: 0.7em;

	display: flex;
	gap: 1em;

	border-radius: 0.3em;
	&:hover {
		background-color: design.$tertiary-bg;
	}
}
.title {
	font-size: 1em;
	font-weight: normal;
	color: design.$primary-font;

	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.folder {
	color: design.$primary-font;
}
.delete {
	margin-left: auto;
	color: design.$secondary-font;
	cursor: pointer;
}

//function event-->
.target {
	border: 1px solid design.$primary-special;
}
