//Desing variables====>

$title-color : whitesmoke;

$container-bg : #292929;
$border-color: rgb(132, 0, 255);


.collection {
	padding: 0.7em;

	display: flex;
	gap: 1em;

	border-radius: 0.3em;
	&:hover {
		background-color: $container-bg;
	}
}
.title {
	font-size: 1em;
	font-weight: normal;
	color: $title-color;

	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.icon {
	color: $title-color;
}

//function event-->
.target {
	border: 1px solid $border-color;
}
