@use "./modules/_design" as design;


.container{
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
}
.input{
    padding: .65em .3em;
    
    font-size: .9em;
    color: design.$primary-font;
    caret-color: design.$primary-special;

    outline: none;

    background-color: design.$tertiary-bg;
}
.button{
    padding: .4em 0;

    color: design.$primary-font;
    font-weight: bold;
    font-size: .9em;

    border-radius: 0 0 10px 10px;
    border-bottom: .4em solid design.$secondary-special;
    background-color: design.$primary-special;
    cursor: pointer;
}