@use "./modules/_breakpoints" as bp;

.grid{
    padding: 1rem;
    
    display: grid;
    grid-template-columns: repeat(3 , 1fr); 
    grid-auto-rows: min-content;
    gap: 1rem;
}

@media screen and (min-width : bp.$xl) {
    .grid{
        grid-template-columns: repeat(4 , 1fr); 
    }
}
@media screen and (min-width : bp.$xxl) {
    .grid{
        grid-template-columns: repeat(5 , 1fr); 
    }
}
@media screen and (max-width : bp.$md) {
    .grid{
        grid-template-columns: repeat(2 , 1fr); 
    }
}
@media screen and (max-width : bp.$sm) {
    
}
@media screen and (max-width : bp.$xs) {
    
}
