
//Desing variables====>

$bg-color : rgb(44, 44, 44);


.container{
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateX(-97%) translateY(97%);

    min-width: 10em;
    display: flex;
    flex-direction: column;
    
    background-color: $bg-color;
}
