@use "./modules/_design" as design;

.search{
    display: flex;
    padding: 1em;
}
.input{
    padding: 1em;
    flex: 1 1 90%;

    color: design.$primary-font;
    caret-color: design.$primary-special;
    border-bottom: 1px solid design.$primary-special;
    outline: none;

    background-color: design.$tertiary-bg;
}
.button{
    flex: 1 1 auto;
    
    color: design.$primary-font;
    font-weight: bold;

    background-color: design.$primary-special;
    cursor: pointer;
}