@use "./modules/_design" as design;

.container{
    width: 100%;
    padding: 1em;
    border-radius: 1em;

    display: flex;
    flex-direction: column;
    gap: 1em;

    background-color: design.$secondary-bg;
}
.video{
    width: 100%;
    aspect-ratio: 16/9;
}
.about{
    display: flex;
    justify-content: space-between;
    gap: 1em;
}
.title{
    font-size: 1.3em;
    font-weight: normal;
    color: design.$primary-font;

    margin-bottom: .5em;
}
.description{
    font-size: 1em;
    font-weight: normal;
    color: design.$secondary-font;

}
.dottsBox{
    position: relative;
    width: 2.2em;
    aspect-ratio: 1/1;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: background-color .2s ease;
    border-radius: 50%;
    cursor: pointer;

    &:hover{
        background-color: design.$tertiary-bg;
    }
}
.dotts{
    font-size: 1.3em;
    color: design.$primary-font;
}
@mixin input(){
    width: 100%;
    padding: .2em;

    background-color: design.$tertiary-bg;
    color: design.$primary-font;

    caret-color: design.$primary-special;
    border: none;
    border-bottom: 1px solid design.$primary-special;
    outline: none;
}
.inputTitle{
    @include input();
    font-size: 1.3em;
}
.inputDescription{
    @include input();
    font-size: 1em;
}